:root{--maincolor:#fcd462;
--mainfont: "Prata", serif;
--subfont:"Rubik", sans-serif;}
a{text-decoration: none; color: #fff; }
li{list-style-type: none;}
.main-color{color: var(--maincolor);}
.bg-main-color{background-color: var(--maincolor);}
.mainfont{font-family: var(--mainfont);}
.subfont{font-family: var(--subfont);}
h1 {font-size: 4.2rem;}
h2 {font-size: 3rem;}
.letter-spacing{letter-spacing: 3px;}
.bg-custom-gray{background-color: rgb(53,53,48);}
body {font-family:var(--mainfont); font-weight: 700; font-size: 14px; color: #fff; background-color: #1C1B19;  }
.hovertomaincolor:hover{color: var(--maincolor); }


/*top*/
.top {background-color: #1C1B19;   height: 120px;}
.navbar {background-color: rgb(53,53,48); margin-top: -70px; z-index: 3;}
.navbar .logo-name h6 {font-family: var(--subfont) ; font-weight: 400;  letter-spacing: 2px;}
.nav-link {color: #fff ; }
.navbar-brand{ color:var(--maincolor)}
.nav-link:focus, .nav-link:hover{
    color:var(--maincolor);
}
.navbar-toggler{ border: 2PX solid rgb(64 64 59);}
.bg-middle-section{
    background-image: url(./Home_img/background2.webp);
    background-position:  center;
    height: 95vh;
    
}
.Latest-Products .card{background-color: #fcd462; border: none;}
.Pages-header{
    background-image: url(./background.webp) ;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -440px;
    position: relative;
z-index: 2;
margin-top: -50px

}
.Pages-header::before {
content: "";
position: absolute;
inset: 0;
background-color:rgb(53,53,48,0.7); 
z-index: 1;

}
.Pages-header-content{
position: relative;
z-index: 4;
}

/* slider*/
.slider-img {
width: 16.6666%;
}
/* slider*/

/* subscribe-section*/

.subscribe-section {
  background-color:rgba(53,53,48,255); /* نفس لون الخلفية */
}

.form-box {
border: 15px solid #1C1B19;
background-color:#1C1B19 ;
max-width: 600px;
width: 100%;
}
.subscribe-section p {
  max-width: 700px; 
  width: 100%;
}

.email-input{background-color: #1C1B19;   flex-grow: 1;  }
.subscribe-section .btn{background-color: var(--maincolor); color: #fff;}
.subscribe-section .btn:hover{background-color: #fff; color: #1C1B19;}

/*subscribe-section*/

/*footer*/
footer {background-color: #1C1B19;}
.footer-icone{background-color: rgba(33,33,33,255);}
.footer-icone:hover{background-color: var(--maincolor);}
/*footer*/

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  z-index: 999;
}


/*details*/
.color{width: 20px; height: 20px; border: none; outline: none; cursor: pointer;
border-radius: 10px;}
.color-one{background-color:rgb(189,32,49);}
.color-two{background-color: var(--maincolor);}
.color-three{background-color:rgba(57,57,197);}
.color-four{background-color:rgb(50,152,50);}

.Material{background-color:rgb(39,38,38) ; border: none; outline: none; cursor: pointer; color: #fff;}
.Material:hover{background-color: var(--maincolor);}
.cart-add{background-color:rgb(39,38,38) ; border: rgb(103,103,102) solid 1px; outline: none; cursor: pointer; color:rgb(103,103,102);}
.cart-add:hover{color: var(--maincolor); border: var(--maincolor) solid 1px; }
.pp{background-color: red;}

.Related-Products{ background-color:rgba(53,53,48,255);}




.card:hover .card-img-top{transform: scale(1.1) translateZ(0);}
.card:hover .product-button{visibility: inherit;  transform: scale(1);}
.card:hover .right-arrow{visibility: inherit;transform: scale(1);}
.label{position: absolute;
top: 10px; left: 10px;}
.card-img-top{transition: transform 0.5s ease-in-out; }
.product-button{position:absolute;top: 10px; left: 220px;
 visibility: hidden;  transform: scale(0.8);
  transition: opacity 0.4s ease, transform 0.5s ease;}
.right-arrow{visibility: hidden; transform: scale(0.8);transition: opacity 0.4s ease, transform 0.5s ease;}
 .form-check-input:checked {
  background-color: red;
  border-color: red;
}
.form-check-input:checked::before {
  color: green;
}

/*هون غلط*/
/* شكل الصح دايمًا ظاهر */
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

/* علامة الصح */
.custom-checkbox::after {
  content: '✔';
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 16px;
  color: white;
}

/* الحالة غير المفعّلة: أحمر */
.custom-checkbox:not(:checked) {
  background-color: red;
}

/* الحالة المفعّلة: أخضر */
.custom-checkbox:checked {
  background-color: green;
}
/*في غلط


/*login*/
.login-bg{
  background-image: url(./login.webp/login.webp);
  height: 99vh;
    background-repeat: no-repeat;
    background-position: right center;
  
}

/*login*/

.hovertomaincolor:hover{color: var(--maincolor);}

.border-main-color{border: #fcd462 solid 1px;}
.Category:hover{background-color: var(--maincolor);}

/*طبقه شفافه*/
.overlay-black {
  position: relative;
  overflow: hidden;
}

.overlay-black::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* أسود شفاف */
  z-index: 1;
}

.overlay-black > * {
  position: relative;
  z-index: 2;
}

/*طبقه شفافه*/


/*home*/
.New-Rings{background-image: url(./Home_img/New\ Rings.webp);
height: 50vh; background-position: center; background-repeat: no-repeat; }
.Copper-Bangle{background-image: url(./Home_img/Copper\ Bangle.webp);
height: 50vh; background-position: center; background-repeat: no-repeat;}
.Big-Necklace{background-image: url(./Home_img/Big\ Necklace.webp);
height: 50vh; background-position: center; background-repeat: no-repeat;}
.Crystal-Jewelry{background-image: url(./Home_img/Crystal\ Jewelry.webp);
height: 50vh; background-position: center; background-repeat: no-repeat;}
/*Jewel On Sale*/
.Jewel-On-Sale{background-image: url(./Home_img/Jewel\ On\ Sale.webp);
background-size: cover;}
.Agonfly-Jewelry{background-image: url(./Home_img/News\ Feeds\ \(2\).webp);
background-size: cover; height: 35vh; overflow: hidden; transition: background-size 0.5s ease;   background-size: 100%;  background-position: center;}
.Agonfly-Jewelry:hover{background-size: 110%;}

.Coin-Gold-Necklace{background-image: url(./Home_img/News\ Feeds\ \(3\).webp);
background-size: cover;height: 35vh;overflow: hidden; transition: background-size 0.5s ease;   background-size: 100%;  background-position: center;}
.Coin-Gold-Necklace:hover{background-size: 110%;}
.Gold-Bracelet-Hall-Of-Fame{background-image: url(./Home_img/Gold\ Bracelet\ Hall\ Of\ Fame.webp);
background-size: cover;height: 35vh;overflow: hidden; transition: background-size 0.5s ease;   background-size: 100%;  background-position: center;}
.Gold-Bracelet-Hall-Of-Fame:hover{background-size: 110%;}
.Ariel-Ring{background-image: url(./Home_img/Ariel\ Ring.webp);
background-size: cover; height: 72vh;overflow: hidden; transition: background-size 0.5s ease;   background-size: 100%;  background-position: center;}
.Ariel-Ring:hover{background-size: 110%;}

/*Jewel On Sale*/
.custom-border{border: rgba(64,64,59,255) solid 2px;}
.Our-Best-Feature-1{background-image: url(./Home_img/Our-Best-Feature\ \(2\).webp);
  height: 50vh;}
.Our-Best-Feature-2{background-image: url(./Home_img/Our-Best-Feature\ \(1\).webp);
height: 50vh;}
.Our-Best-Feature-3{background-image: url(./Home_img/Our-Best-Feature\ \(3\).webp);
height: 50vh;}
.desc-Our-Best-Feature {display: none;}
.Our-Best-Feature-1:hover { background-image: none; background-color:rgb(53,53,48);}
.Our-Best-Feature-2:hover {background-image: none; background-color:rgb(53,53,48);}
.Our-Best-Feature-3:hover {background-image: none; background-color:rgb(53,53,48);}

.Our-Best-Feature-1:hover .desc-Our-Best-Feature{display:inline-block;}
.Our-Best-Feature-2:hover .desc-Our-Best-Feature{display:inline-block;}
.Our-Best-Feature-3:hover .desc-Our-Best-Feature{display:inline-block;}

/*Home footer*/
.home-footer{background-image: url(./Home_img/footer\ background.webp);
background-size: cover;}
footer {background-color: #1C1B19;}
.footer-icone-home:hover{background-color: var(--maincolor);}
/*Home footer*/

/*back to up*/
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  z-index: 999;}
/*back to up*/

